@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Get <a href="/tables/">the complete list of main database tables</a>.</p>
        <p>Get <a href="/functions/">the complete list of main database functions</a>.</p>
        <p>Get <a href="/tablessecondary/">the complete list of secondary database tables</a>.</p>
        <p>Get <a href="/functionssecondary/">the complete list of secondary database functions</a>.</p>
        <p><a href="/findbyname?componenttype=function&dbID=0&s=function1">Find out</a> if a table or function is present in a database(with a get request example)</p>
        <p>Run a <a href="/getcheck/">test DB structure check(from a local json structure example file)</a>.</p>
    </div>
